<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1><%= title %></h1>
    <% if (name) { %>
        <h2>Welcome <%= name %></h2>
    <% } else { %>
        <h2>Welcome!!</h2>
    <% } %>
    <p>This is your profile page.</p>
    <a href="/">Go Home</a>
</body>
</html>